<div class="search>
    {#search bar#}
</div>

<div class="content">
    {% if content.players is not empty %}
        {% for player in content.players %}
            {{ player }}
        {% endfor %}
    {% endif %}
    {#content / nfl listings#}
</div>

<div class="pagination">
    {#pagination#}
</div>